.chart {
  background-color: white;
}
.chart text {
  font-family: sans-serif;
  font-size: 10px;
  fill: #81868f;
}
.chart rect.target_bar {
  fill: #8CA2D2;
}
.chart rect.actual_bar {
  fill: #8BC167;
}
.chart .percentage_line {
  stroke: #4f5050;
  stroke-width: 3;
  fill: none;
}
.chart .percentLine {
  stroke: #4f5050;
  stroke-width: 3;
  fill: none;
}
.chart rect.target_bar:hover {
  fill: #8298BF;
}
.chart rect.actual_bar:hover {
  fill: #80AA5F;
}
.axis path,
.axis line {
  fill: none;
  stroke: #81868f;
  shape-rendering: crispEdges;
}
.yAxisRight line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: white;
  font-size: 8px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: white;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.d3-tip-target {
  color: #8CA2D2;
  border: 1px solid #8CA2D2;
}
.d3-tip-actual {
  color: #8BC167;
  border: 1px solid #8BC167;
}
.d3-tip-line {
  color: #4f5050;
  border: 1px solid #4f5050;
}
